<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h1>Hello, your order id is : <%= @order.id %> </h1>
    <p>
      Processed successfully total amout of <%= @order.total%> <br>
    </p>
    <% @order.line_items.each do |item| %>
     name: <%= item.product.name %>
     description: <%= item.product.description %>
     $ <%= item.product.price %>
     # <%= item.quantity %>

    <% end %>
    <%%>
    <%%>
    <%%>

    <p>Thanks for shopping and have a great day!</p>
  </body>
</html>